[Unit]
Description=Stress Test

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/tools/stress.sh 2>&1 > /tools/QAlab.log'

[Install]
WantedBy=multi-user.target
