[Unit]
Description=close_some_service
Before=connman.service systemd-resolved.service

[Service]
Type=forking
ExecStart=/tools/adv_close_service.sh

[Install]
WantedBy=multi-user.target
