[Unit]
Description=close_some_service
After=connman.service systemd-resolved.service

[Service]
Type=forking
ExecStart=/tools/add-router/adv_close_service.sh

[Install]
WantedBy=multi-user.target
