[Unit]
Description=Hailort USB Camera
After=hwclock.service

[Service]
Type=idle
Environment="HOME=/home/root"
Environment="XDG_SESSION_TYPE=tty"
Environment="QT_QPA_PLATFORM=wayland"
Environment="XDG_SESSION_CLASS=user"
Environment="XDG_SESSION_ID=c2"
Environment="XDG_RUNTIME_DIR=/run/user/0"
ExecStart=/tools/hailo_USB_camera_demo.sh &

[Install]
WantedBy=multi-user.target
