[Unit]
Description=Advantech Power Test
After=boottimes.service

[Service]
Type=oneshot
ExecStart=/tools/power-test.sh

[Install]
WantedBy=multi-user.target
