[Unit]
Description=ADV service detect
After=weston.service
After=systemd-logind.service
After=serial-getty@ttyO0.service

[Service]
User=root
Group=root

Type=sample
ExecStart=/usr/sbin/service_detect.sh
KillMode=control-group
KillSignal=SIGKILL
Restart=on-abort
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target 
