[Unit]
Description=4G to lan
After=systemd-resolved.service
ConditionPathExists=/usr/sbin/4G-to-lan

[Service]
ExecStart=/usr/sbin/4G-to-lan eth0

[Install]
WantedBy=multi-user.target
